.boxStyle {

    width:  300px;
    height:  250px;
    background: pink;
    border: 1px solid rgba(111, 105, 105, 0.401);
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 10%;
    
  }
  .h1Style{
    color:  red;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
  }



   .h1Style{
    color :"red" , 
    fontSize:"25px" , 
    fontFamily:"sans-serif" ,
    paddingTop:"20px"
  }

  .h4Style{
    margin-top: -8px;
  }